<div
    class="panel panel-default phone col-xs-12"
    ng-controller="PhoneCtrl"
    ng-animate=" 'animate' "
>
    <div ng-switch="phone.state">
        <div class="row" ng-switch-when="none">
            <h2 class="col-xs-6">
                {{ phone.number }}
            </h2>
            <button class="btn btn-success col-xs-5" ng-click="activate()">
                Connect
            </button>
        </div>
        <div class="row" ng-switch-when="connecting">
            <h2 class="col-xs-6">
                {{ phone.number }}
            </h2>
            <button
                class="btn btn-info col-xs-5"
            >
                Connecting
            </button>
        </div>
        <div class="row" ng-switch-default>
            <h2 class="col-xs-6">
                {{ phone.number }}
            </h2>
            <button class="btn btn-danger col-xs-5" ng-click="deactivate()">
                Disconnect
            </button>
        </div>
    </div>
    <div collapse="!phone.showPad">
        <numpad on-number="call(number)"></numpad>
        <div class="row center-block spaced">
            <button class="btn btn-success col-xs-5" ng-click="accept()">
                Accept
            </button>
            <button class="btn btn-danger col-xs-offset-2 col-xs-5" ng-click="reject()">
                Reject
            </button>
        </div>
        <div></div>
    </div>
</div>
