<div
    class="panel panel-default phone col-xs-12"
    ng-controller="PhoneCtrl"
    ng-animate=" 'animate' "
>
    <div ng-switch="phone.state">
        <div class="row center-block" ng-switch-when="none">
            <h2 class="col-xs-6">
                {{ phone.number }}
            </h2>
            <button class="btn btn-success col-xs-6" ng-click="activate()">
                Connect
            </button>
        </div>
        <div class="row center-block" ng-switch-when="connecting">
            <h2 class="col-xs-6">
                {{ phone.number }}
            </h2>
            <button
                class="btn btn-info col-xs-6"
            >
                Connecting
            </button>
        </div>
        <div class="row center-block" ng-switch-default>
            <h2 class="col-xs-6">
                {{ phone.number }}
            </h2>
            <button class="btn btn-danger col-xs-6" ng-click="deactivate()">
                Disconnect
            </button>
        </div>
    </div>
    <div collapse="!phone.showPad">
        <div class="panel panel-default screen">
            {{ phone.lastAction }}
        </div>
        <numpad class="col-xs-offset-1 col-xs-10" on-number="call(number)"></numpad>
        <div class="row center-block spaced">
            <button class="btn btn-success col-xs-4" ng-click="accept()">
                Accept
            </button>
            <button class="btn btn-danger col-xs-4" ng-click="reject()">
                Reject
            </button>
            <button class="btn btn-warning col-xs-4" ng-click="hangup()">
                Hangup
            </button>
        </div>
    </div>
</div>
