<!DOCTYPE HTML>
<html ng-app="phone">
<head>
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-animate.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.js"></script>
   <link rel="stylesheet" href="css/phone.css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.min.js"></script>
</head>
<body ng-controller="PhoneListCtrl">
    <div class="row">
        <div class="panel panel-default createPhone col-xs-offset-5 col-md-2">
            <input ng-model="addPhone" ng-required="true" type="number" min="1" max="9999">
            <button ng-click="add(addPhone)" type="button" class="btn btn-info btn-lg pull-right">Add</button>
        </div>
        <div ng-show="showError" class="col-xs-5 error-message">
            <h3>Number should contain 1-4 digits</h3>
        </div>
    </div>
    <div class="container-fluid">
        <phone ng-repeat="phone in phones" class="animate"></phone>
    </div>

    <audio id="aud"></audio>
</body>
<footer>
    <script src="https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/PhoneController.js"></script>
    <script src="/js/PhoneListController.js"></script>
    <script src="/js/Numpad.js"></script>
    <script src="/js/Chat.js"></script>
</footer>
</html>
