.phone {
    margin-top: 0;
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 16em;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.createPhone {
    margin-top: 20px;
    padding: 10px;
    font-size: 2em;
    width: 9em;
}

.number-input {
    margin-top: 1em;
}

.number-input > input {
    font-size: 1.4em;
}

h2 {
    margin-top: 2px;
}

html {
    overflow-y: scroll;
}
