.phone {
    margin-top: 0;
    margin-left: 1em;
    padding-top: 1em;
    width: 20em;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.phone > .active {
    padding-bottom: 1em;
}

.spaced {
    margin-top: 1em;
    margin-bottom: 1em;
}

.createPhone {
    margin-top: 20px;
    padding: 10px;
    font-size: 2em;
    width: 9em;
}

.screen {
    width: 17em;
    height: 8em;
    margin: 0 auto;
    position: relative;
}

.screen > .box {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 50%;
    margin: 0;
}

.chat-edit {
    width: 17em;
    height: 0.6em;
    margin: 0 auto;
    margin-bottom: 1em;
}

.chat-edit > input[type="text"] {
   height: 1.4em;
   font-size: 1.1em;
   line-height: 1.4em;
}

.screen > .left {
    text-align: left;
}

.screen > .right {
    text-align: right;
}

.screen > .left:before {
    content: "> ";
}

.screen > .right:after {
    content: " <";
}

.box.state {
    left: 0;
}

.box.remote {
    right: 0;
}

.number-input {
    margin-top: 1em;
}

.number-input > input {
    font-size: 1.4em;
}

.numpad {
    margin-bottom: 1em;
}

h2 {
    margin-top: 2px;
    margin-left: 0;
}

html {
    overflow-y: scroll;
}

.animate.ng-enter,
.animate.ng-leave
{
    -webkit-transition: 500ms linear all; /* Chrome */
    transition: 500ms linear all;
}

.animate.ng-leave.ng-leave-active,
.animate.ng-enter {
    opacity: 0;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    opacity: 1;
}
